.chat {
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;

  .top {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 3px;

        span {
          font-size: 12px;
          font-weight: bold;
        }

        p {
          font-size: 10px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .icons {
      display: flex;
      gap: 10px;

      img {
        width: 10px;
        height: 10px;
      }
    }
  }

  .center {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Reduce gap */

    .message {
      max-width: 70%;
      display: flex;
      gap: 5px; /* Reduce gap */

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: #5183fe;
          }
        }
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 3px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 10px;
          object-fit: contain;
        }

        p {
          padding: 10px;
          background-color: rgba(17, 25, 40, 0.3);
          border-radius: 10px;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }

  .bottom {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 10px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 10px;
    }

    img {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }

    input {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .sendButton {
      background-color: #5183fe;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #5182feb4;
        cursor: not-allowed;
      }
    }
  }
}

@media (max-width: 844px) {
  .chat {
    min-width: 250px;
    max-width: 250px;

    .top {
      padding: 5px;

      .user {
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
        }

        .texts {
          gap: 2px;

          span {
            font-size: 10px;
          }

          p {
            font-size: 8px;
          }
        }
      }

      .icons {
        gap: 5px;

        img {
          width: 10px;
          height: 10px;
        }
      }
    }

    .center {
      padding: 5px;
      gap: 5px;

      .message {
        gap: 5px;

        img {
          width: 10px;
          height: 10px;
        }

        .texts {
          gap: 2px;

          img {
            width: 100px;
            height: 100px;
          }

          p {
            padding: 5px;
            font-size: 8px;
          }

          span {
            font-size: 6px;
          }
        }
      }
    }

    .bottom {
      padding: 5px;
      gap: 5px;

      img {
        width: 10px;
        height: 10px;
      }

      input {
        padding: 5px;
        font-size: 8px;
        max-width: 150px; /* Reduce max width */
      }

      .sendButton {
        padding: 5px 10px;
        font-size: 8px;
      }
    }
  }
}
