.detail {
  flex: 1;

  .user {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 20px;
          height: 20px;
          background-color: rgba(17, 25, 40, 0.3);
          padding: 5px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .photos {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 20px;
              height: 20px;
              border-radius: 5px;
              object-fit: cover;
            }

            span {
              font-size: 10px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 15px;
            height: 15px;
            background-color: rgba(17, 25, 40, 0.3);
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }

    button {
      padding: 10px;
      background-color: rgba(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(220, 20, 60, 0.796);
      }

      &.logout {
        padding: 5px;
        background-color: #1a73e8;
      }
    }
  }
}

@media (max-width: 767px) {
  .user {
    padding: 5px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .info {
    padding: 5px;
    gap: 5px;

    .option {
      .title {
        img {
          width: 10px;
          height: 10px;
          padding: 5px;
        }
      }

      .photos {
        gap: 5px;
        margin-top: 5px;

        .photoItem {
          .photoDetail {
            gap: 5px;

            img {
              width: 10px;
              height: 10px;
            }

            span {
              font-size: 8px;
            }
          }

          .icon {
            width: 10px;
            height: 10px;
            padding: 5px;
          }
        }
      }
    }

    button {
      padding: 5px;
      font-size: 8px;

      &.logout {
        padding: 5px;
      }
    }
  }
}

@media (max-width: 844px) and (max-height: 390px) {
  .detail {
    font-size: 0.6rem; /* Reduce the font size for smaller screens */
  }

  .detail .user {
    padding: 5px;

    img {
      width: 25px; /* Adjusted to be smaller */
      height: 25px; /* Adjusted to be smaller */
    }
  }

  .detail .info {
    padding: 5px;
    gap: 5px;

    .option {
      .title {
        img {
          width: 10px;
          height: 10px;
        }
      }

      .photos {
        gap: 5px;
        margin-top: 5px;

        .photoItem {
          .photoDetail {
            gap: 5px;

            img {
              width: 10px;
              height: 10px;
            }

            span {
              font-size: 6px;
            }
          }

          .icon {
            width: 7px;
            height: 7px;
          }
        }
      }
    }

    button {
      padding: 3px;
      font-size: 6px;

      &.logout {
        padding: 3px;
      }
    }
  }
}
